:root {
    --accent: #007aff;
    --primary: #000000;
    --secondary: #696969;
    --title1: #000000;
    --title2: #ffffff;
    --text1: #cacaca;
    --text2: #dadada;
    --caption: #d9d9d9;
    --background: #ffffff;
    --background1: #f7f7f7;
    --border: #d5d5d5;
}

.top_bar {
    background-color: var(--accent);
}

.header_nav {
    background-color: var(--background);
}

.container {
    background-color: var(--border);
}

footer {
    background-color: var(--title1);
}

/* 영역구분용 */



.top_bar {
    width: 100%;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    color: var(--title2);
}

.header_nav {
    max-width: 1440px;
    width: 100%;
    height: 10rem;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.header_inner {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.logo {
    width: 30rem;
    height: 5rem;
    line-height: 5rem;
    position: relative;
    left: 0;
    background: url(../image/logo-gnb.svg) no-repeat center center;
}

.utility_wrap {
    width: 100%;
    position: relative;
    right: 0;
    height: 5rem;
    line-height: 5rem;
}

.menu_wrap {
    width: 100%;
    height: 5rem;
    line-height: 5rem;
}

/* //header */

.container {
    width: 100%;
    height: calc(100vw - 23rem);
}

.banner {
    width: 100%;
    height: 100%;
    background: no-repeat center top/contain;
}

.banner .banner_inner .sli1 {
    background-image: url(../image/3a5d82bc-7844-44c7-a0cc-ced147048bf6.webp);
}

.banner::before {
    content: '';
    background-image: url(../image/icon-slick-prev-compo.svg);
}

.banner_inner {
    max-width: 1440px;
    margin: auto;
}

/* //banner */
.content_inner {
    max-width: 1440px;
    height: auto;
}

/* //contents */
/* //container */

footer {
    width: 100%;
    height: auto;
}

.footer_inner {
    max-width: 1440px;
    margin: auto;
    padding: 36px 24px;
}