:root {
    --accent: #007aff;
    --primary: #000000;
    --secondary: #696969;
    --title1: #000000;
    --title2: #ffffff;
    --text1: #cacaca;
    --text2: #dadada;
    --caption: #d9d9d9;
    --background: #ffffff;
    --background1: #f7f7f7;
    --border: #d5d5d5;
}

.topbar_wrap {
    background-color: var(--accent);
}

.header_nav {
    background-color: var(--background);
}

/* .container {
    background-color: var(--border);
} */
/* 
footer {
    background-color: var(--title1);
} */

/* 영역구분용 */


.topbar_wrap {
    display: block;
    width: 100vw;
    height: 2rem;
    color: var(--title2);
    gap: 1rem;
    cursor: pointer;
    text-align: center;
}

.topbar {
    display: inline-block;
    height: 100%;
    line-height: 2rem;
    font-weight: 700;
}

.udline {
    text-decoration: underline;
}

/*  */
/* header */
.header_nav {
    width: 100%;
    height: 8rem;
    margin: auto;
}

.header_inner {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    width: 12rem;
    text-indent: -99999999px;
    color: var(--background);
    background: url(../image/logo-gnb.svg) no-repeat left center;
}

.utility_wrap {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.searchbox {
    display: flex;
    margin-left: 18px;
}

.search {
    width: 330px;
    height: 32px;
    background-color: var(--border);
    border-radius: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 7px 14px;
}

.menu_wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 2.5rem;
    padding-top: 10px;
}

.menu_left {
    width: auto;
    display: flex;

}

.menu_right {
    width: auto;
    display: flex;
}

.dept1 {
    display: flex;
    height: 50px;
    gap: 1rem;
}

.dept1 li {
    padding: 1px;
    gap: 1rem;
}

/* //header */

.container {
    width: 100vw;
}

.banner_inner {
    width: 100%;
    height: 810px;
    position: relative;
}

.banner_inner .sli1 {
    width: 100%;
    height: 100%;
    background-image: url(../image/3a5d82bc-7844-44c7-a0cc-ced147048bf6.webp);
    z-index: -999999999;
}

.banner::before {
    content: '';
    width: 22px;
    height: 40px;
    background-image: url(../image/icon-slick-prev-compo.svg);
    position: absolute;
    left: 3%;
    top:50%;
    z-index: 99999999;
}
.banner::after {
    content: '';
    width: 22px;
    height: 40px;
    background-image: url(../image/icon-slick-next-compo.svg);
    position: absolute;
    right:3%;
    top:50%;
    z-index: 99999999;
}

/* //banner */
.content_inner {
    max-width: 1440px;
    margin: auto;
}


/* //contents */
/* //container */

footer {
    width: 100%;
    height: auto;
}

.footer_inner {
    max-width: 1440px;
    margin: auto;
    padding: 36px 24px;
}

.sitemap {
    display: flex;
}

.map_box {width: calc(100%/6);}