.top_bar {
    background-color: var(--accent);
}

.header_nav {
    background-color: var(--background);
}

.container {
    background-color: var(--background1);
}

footer {
    background-color: var(--title1);
}

/* 영역구분용 */

.top_bar {
    width: 100%;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    color: var(--title2);
}

.header_nav {
    max-width: 1440px;
    width: 100%;
    height: 10rem;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.header_inner {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}

.logo {
    width: 30rem;
    height: 5rem;
    line-height: 5rem;
    position: relative;
    left: 0;
}

.utility_wrap {
    width: 90%;
    position: relative;
    right: 0;
    height: 5rem;
    line-height: 5rem;
}

.menu_wrap {
    width: 100%;
    height: 5rem;
    line-height: 5rem;
}

/* //header */

.container {
    width: 100%;
    height: 100vw;
}

.banner {
    width: 100%;
}

.banner_inner {
    max-width: 1440px;
    margin: auto;
}

/* //banner */
.content_inner {
    max-width: 1440px;
    height: auto;
}

/* //contents */
/* //container */

footer {
    width: 100%;
    height: auto;
}

.footer_inner {
    max-width: 1440px;
    margin: auto;
    padding: 36px 24px;
}